.large-hero {
  position: relative;
  &__text-contant {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 4.8rem;
    margin: 0;
  }
  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2.9rem;
    margin: 0;
  }
  &__description {
    font-weight: 100;
    color: white;
    font-size: 1.875rem;
    margin: 1.5rem 0rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
